.navbar {
  justify-content: space-around;
  align-items: center;
}

.navbar-title {
  font-size: 1.5em;
}

.navbar-items {
}

.navbar-items-btn {
  margin-right: 35px;
  font-size: 0.8em;
}

.navbar-items-btn-icon {
  transform: scale(1.5);
}