<h1 class="title">SaveRS</h1>

<mat-toolbar class='navlist'>
  <button mat-button color='acent' class='navlist-btn'>
    <mat-icon fontIcon="home" class='navlist-btn-icon'></mat-icon>
    Todos
  </button>
  <button mat-button color='acent' class='navlist-btn'>
    <mat-icon fontIcon="search" class='navlist-btn-icon'></mat-icon>
    Resgates
  </button>
  <button mat-button color='acent' class='navlist-btn'>
    <mat-icon fontIcon="settings" class='navlist-btn-icon'></mat-icon>
    Animais Perdidos
  </button>
  <button mat-button color='acent' class='navlist-btn'>
    <mat-icon fontIcon="settings" class='navlist-btn-icon'></mat-icon>
    Doações
  </button>
  <button mat-button color='acent' class='navlist-btn'>
    <mat-icon fontIcon="settings" class='navlist-btn-icon'></mat-icon>
    Limpezas
  </button>
  <button mat-button color='acent' class='navlist-btn'>
    <mat-icon fontIcon="settings" class='navlist-btn-icon'></mat-icon>
    Desaparecidos
  </button>
</mat-toolbar>

<router-outlet></router-outlet>

